global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend login
    bind :8484
    default_backend login_server

backend login_server
    server maplestory maplestory:8484 check

frontend channel_one
    bind :7575
    default_backend channel_one_server

backend channel_one_server
    server maplestory maplestory:7575 check

frontend channel_two
    bind :7576
    default_backend channel_two_server

backend channel_two_server
    server maplestory maplestory:7576 check

frontend admin_http
    bind :8080
    default_backend admin_server

backend admin_server
    server admin admin:8080 check
